<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/style.css" />

  <meta name="theme-color" content="#151515" />
  <meta name="msapplication-navbutton-color" content="#151515" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">

  <title>{{ .NumFeeds }} Security Blogs</title>
  <meta property="og:title" content="Security Blogs" />
  <meta property="og:locale" content="en_US" />
  <meta name="description" content="{{ .NumFeeds }} Security Blogs News Feed" />
  <meta property="og:description" content="{{ .NumFeeds }} Security Blogs News Feed" />
  <link rel="canonical" href="https://securityblogs.xyz/" />
  <meta property="og:url" content="https://securityblogs.xyz/" />
  <meta property="og:site_name" content="{{ .NumFeeds }} Security Blogs" />
  <meta property="og:type" content="website" />
</head>

<body>
  <header>
    <div class="container">
      <a id="a-title" href="/">
        <!-- Add a count for number of blogs -->
        <h1>{{ .NumFeeds }} Security Blogs</h1>
      </a>
      <br>
      <br>
      <h4>Last Updated: {{ .LastUpdated }}</h4>
      <span><a href="https://github.com/CyberT17/secblogs/blob/main/rssFeeds.json/" target="_blank">Blog List</a></span>
      |
      <span><a href="https://github.com/CyberT17/secblogs/" target="_blank">Github</a></span>
      |
      <span><a href="https://securityblogs.xyz/securityblogs.opml" download="securityblogs.opml">OPML</a></span>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ range .DateBlogs}}
      <div class="items">
        <h2>{{ .Date }}</h2>
        {{ range .Blogs }}
        <div class="text-with-dashes">
          <span>{{ .Blog }}</span>
          <div class="dashes"></div>
          <span><a href="{{ .Url }}" target="_blank">{{ .Title }}</a></span>
        </div>
        <br>
        {{ end }} 
        <br>
      </div>
      {{ end }}
      </section>
      <footer class="footer"> 
        <span>Made by <a href="https://kevinpatel.xyz/" target="_blank">Kevin Patel</a></span>
      </footer>
      <br>
    <button onclick="topFunction()" id="top-link" title="Go to top" aria-label="Go to top"></button>
  </div>
  <script>
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("top-link").style.display = "block";
      } else {
        document.getElementById("top-link").style.display = "none";
      }
    }

    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE, and Opera
    }
  </script>
</body>

</html>
